<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hooper@0.2.1/dist/hooper.css">
<script src="https://cdn.jsdelivr.net/npm/hooper@0.2.1/dist/hooper.min.js"></script>

<div id="slider">
  <hooper>
    <slide>
      slide1
    </slide>
    <slide>
      slide2
    </slide>
    <slide>
      slide3
    </slide>
  </hooper>
</div>