<%= javascript_pack_tag 'custom_vue' %>  

<div id="app" class="vue">
  {{ number }}
  <button v-on:click="countUp">カウントアップ</button>
  <div v-if="number">条件次第で表示する</div>
  <ul>
    <li v-for="item in items">{{ item }}</li>
  </ul>

  <div v-bind:class="color">カラー</div>
  <div :class>こんにちは</div> <!-- v-bindの省略系 -->

  <input type="text" v-model="color">
  {{ custom_color }}
</div>
