<h1>はじめまして、<%= @user.name %>さん。</h1>

<p>
  Saizyに登録してくれてありがとうございます！<br>
  下のリンクをクリックして、会員登録を完了させてくださいませ！
</p>

<p>
  【ご登録のアドレス】<br>
  <a href="#"><%= @user.email %></a>
</p>
<br>
<button>
  <%= link_to 'アカウントの有効化', edit_account_activation_url(@user.activation_token,
                                                             email: @user.email) %>
</button>
<br>
<br>
<h3>Saizyについて</h3>
<p>期間限定ショップ（POPUPショップ、催事とも呼びます）専門の投稿・検索サイトになります。</p>


<p>----------------------------------------------------------------------</p>

<ul>
<li>このメールは、Saizyにご登録いただいた会員様にお送りしております</li>
<li>このメールに心あたりが無い方は、お手数ですが破棄していただけますようお願いいたします</li>
</ul>