<h1>パスワード再設定のご案内</h1>

<p><%= @user.name %>さん。いつもお世話になっております。</p>
<p>Saizy運営事務局です。</p>
<p>以下からパスワードの再設定を行ってください</p>
<br>
<br>
<button>
  <%= link_to "パスワードの再設定", edit_password_reset_url(@user.reset_token,
                                                     email: @user.email) %>
</button>
<br>
<br>
<p>このリンクは1時間経過すると使えなくなります。</p>
<p>経過した場合は再度、パスワードリセットを行ってください。</p>
<br>
<p>
  【ご登録のアドレス】<br>
  <a href="#"><%= @user.email %></a>
</p>
<br>
<h3>Saizyについて</h3>
<p>期間限定ショップ（POPUPショップ、催事とも呼びます）専門の投稿・検索サイトになります。</p>
<br>
<p>----------------------------------------------------------------------</p>

<ul>
<li>このメールは、Saizyにご登録いただいた会員様からパスワード再設定希望の方にお送りしております</li>
<li>このメールに心あたりが無い方は、お手数ですが破棄していただけますようお願いいたします</li>
</ul>
