<% provide(:title, "利用規約")%>

<div class="policy">
  <div class="policy-title">
    <h1>Saizy利用規約</h1>
    <p>
      この利用規約は、ユーザーのみなさまがSaizyを利用するに際しての注意事項をまとめた物です。
    </p>
    <p>
      ユーザーのみなさまがSaizyをご利用する場合は、この注意事項をよくお読みください。
      ユーザーのみなさまがSaizyをご利用した場合、この利用規約に同意したものとさせていただきます。
    </p>
  </div>
  
  <div class="policy-contents">
    <div class="policy-contents-title">
      <h2>1. Saizyのサービスについて</h2>
    </div>
    <div class="policy-contents-text">
      <p>
        Saizyは、食品催事専門の投稿、検索サービスになります。
        投稿を公開することで、他のユーザーが自分や身内へのプレゼントを検討する上で参考にしていただけることを目的にサービスを展開しております。
      </p>
    </div>

    <div class="policy-contents-title">
      <h2>2. 会員登録について</h2>
    </div>
    <div class="policy-contents-text">
      <p>
        ユーザーのみなさまは、所定の手続きに従い、会員登録手続きを行うことができるものとします。
        Saizyは所定の登録手続き方法は任意に決定し、随時変更できるものとします。
        会員でないユーザーと、所定の登録手続きを終えたユーザー様とでは異なるサービスを展開するものとします。
      </p>
    </div>

    <div class="policy-contents-title">
      <h2>3. プライバシーポリシーについて</h2>
    </div>
    <div class="policy-contents-text">
      <p>
        ユーザーのみなさまの会員情報及びSaizyが取得したユーザーのみなさまに関する情報は、
        Saizyのプライバシーポリシーにしたがって取り扱われます
      </p>
      <%= link_to 'プライバシーポリシー', privacy_path, class: "privacy-text" %>
    </div>


    <div class="policy-contents-title">
      <h2>4. 禁止事項</h2>
    </div>
    <div class="policy-contents-text">
      <p>
        Saizyを利用するに際しては、次の事項の行為を行うことを禁止します。
        万一、これらに違反した場合は、Saizyはみなさまのアカウントの投稿内容、プロフィール内容、閲覧履歴等、
        全てのアカウントデータを削除いたします。
      </p>
      <ul class="policy-list">
        <li>
          1.　Saizy、ユーザーのみなさま、その他の第三者の権利、利益、名誉等を損ねること。
          他人のプライバシーを侵害したり、他人を中傷すること。
        </li>
        <li>
          2.　投稿内容に際し、虚偽の内容を記載すること。その他不正行為を行うこと。
        </li>
        <li>
          3.　Saizyを無断で営利目的に使用すること。
        </li>
        <li>
          4.　日本国に定める、法律、法令に違反すること。
        </li>
        <li>
          5.　Saizyが定める各種の利用規約に違反すること。
        </li>
        <li>
          6.　コンピュータのソフトウェア、ハードウェア、通信機器の機能を妨害、破壊、制限するように設計されたコンピュータウィルス、コンピュータコード、ファイル、プログラム等のコンテンツをSaizyサイト内にアップロードしたり、掲示したり、メール等の手段で公衆送信すること。
        </li>
        <li>7.　方法の如何を問わず、他のユーザーの個人情報を収集したり、蓄積すること</li>
      </ul>
    </div>

    <div class="policy-contents-title">
      <h2>5. 他のリンクについて</h2>
    </div>
    <div class="policy-contents-text">
      <p>
        Saizyサイトの中から、他のウェブサイトやリソースにアクセスしたり、第三者のウェブサイトやリソースから
        Saizyへのリンクを提供している場合があります。この場合、Saizyは、当該ウェブサイトやリソースを
        管理しておりませんので、これらの利用及びその結果については、一切責任を負いません。
        ユーザーのみなさまは、当該ウェブサイトやリソースの利用規約を別途ご確認くださいますようお願いいたします。
      </p>
    </div>

    <div class="policy-contents-title">
      <h2>6. クッキー（Cookie）について</h2>
    </div>
    <div class="policy-contents-text">
      <p>
        Saizyサイトの中から、他のウェブサイトやリソースにアクセスしたり、第三者のウェブサイトやリソースから
        Saizyへのリンクを提供している場合があります。この場合、Saizyは、当該ウェブサイトやリソースを
        管理しておりませんので、これらの利用及びその結果については、一切責任を負いません。
        ユーザーのみなさまは、当該ウェブサイトやリソースの利用規約を別途ご確認くださいますようお願いいたします。
      </p>
    </div>
  </div>
  

</div>
