<% provide(:title, "プライバシーポリシー")%>

<div class="privacy">
  <h1 class="privacy-title">プライバシーポリシー</h1>
  <p class="privacy-abstract">
  Saiyが運営するWebサービス（以下、「Saizy」といいます。）における、
  ユーザー様の個人情報の取り扱いについて、
  以下のとおりプライバシーポリシーを定めます。
  </p>


  <h2 class="privacy-heading">第1条（個人情報）</h2>
  <p class="privacy-contents">「個人情報」とは、個人情報保護法における「個人情報雨」を指すものとし、
  生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日、住所、電話番号、連絡先その他の記述等により特定の個人を識別できる情報及び容姿、指紋、声紋にかかるデータ、及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。</p>

  <h2 class="privacy-heading">第2条（個人情報の収集方法）</h2>
  <p class="privacy-contents">当社は，ユーザーが利用登録をする際に氏名，生年月日，住所，電話番号，メールアドレス，銀行口座番号，クレジットカード番号，運転免許証番号などの個人情報をお尋ねすることがあります。また，ユーザーと提携先などとの間でなされたユーザーの個人情報を含む取引記録や決済に関する情報を,当社の提携先（情報提供元，広告主，広告配信先などを含みます。以下，｢提携先｣といいます。）などから収集することがあります。</p>

</div>
