<h1>東京都のSaizy</h1>
<p>東京都の催事一覧になります。</p>
<p>東京エリアには有数の百貨店・商業施設があります。</p>
<p>コロナ禍の状況で以前と比較すると催事出店数は減ってしまいましたが、</p>
<p>多くのお客様が来店する施設では常に期間限定ショップが賑わっています。</p>
<% @saizies.tokyo.each do |saizy| %>
  <%= link_to saizy_path(saizy) do %>
    <h3><%= saizy.title.truncate(18) %></h3>
  <% end %>
<% end %>
