// responsive product
@media (max-width: 670px) {
  #grid-show {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "image"
      "content"
      "sidebar"
      "sidebar"
    ;
  }
  .show-image .show-slide-image {
    height: 15rem;
  }
}
  .left-content {
    overflow: hidden;
  }


  // slick



  
@media (max-width: 1200px) {
  #grid-show {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "image"
      "content"
      "sidebar"
      "sidebar"
    ;
    .show-slide-image {
      width: 90%;
      margin: 0 auto;
      padding: 1rem;
      img {
        width: 100%;
        height: 50vw;
        
      }
    }
  }
  
}
