// responsive
@media (max-width: 670px) {
  #grid-show {
    box-sizing: border-box;
    margin: 0 5rem 0 5rem;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "image"
      "content"
      "sidebar"
      "sidebar"
    ;

    // #left-image #left-content .sidebar {
    //   width: 100%;
    //   box-sizing: border-box;
    // }
    .show-slide-image {
      width: 80%;
      img {
        width: 300px;
        height: 200px;
      }
    }
    .show-slide-thumb {
      width: 100%;
      img {
        width: 200px;
        height: 20vw;
      }
    }
  }
  .side-card-flex img {
    width: 15rem;
    height: 15vw;

  } 
  }

  .side-title{
    h3 {
      font-size: 1.5rem;
      padding: 1rem;
      text-align: left;
      font-weight: bold;
    }
  }


@media (max-width: 1200px) {
  #grid-show {
    margin: 0 5rem 0 5rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
      "image"
      "content"
      "sidebar"
      "sidebar"
    ;
    .show-slide-image {
      width: 50rem;
      img {
        height: 50vw;
      }
    }
    .side-card-flex img {
      width: 15rem;
      height: 15vw;

    } 
  }
  
}
