// responsive
@media (max-width: 670px) {
  #grid-show {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "image"
      "content"
      "sidebar"
      "sidebar";
    .left-image {
      overflow: hidden;
      width: 20rem;
      margin: 0 auto;
    }
    .show-image {
      width: 20rem;
      .show-slide-image {
        width: 20rem;
        img {
          width: 20rem;
        }
      }
      .show-slide-thumb {
        width: 20rem;
        img {
          width: 20rem;
          height: 20vw;
        }
      }
    }
    #left-content {
      overflow: hidden;
    }
  }
  .title {
    h3 {
      font-size: 1.5rem;
      padding: 1rem;
      text-align: center;
      line-height: 40px;
    }
  }
  .show-image {
    .show-slide-image {
      overflow: hidden;
      width: 100%;
      img {
        width: 60rem;
        height: 40vh;
      }
    }
  }
  .side-title{
    h3 {
      font-size: 1.5rem;
      padding: 1rem;
      text-align: center;
      font-weight: bold;
    }
  }
}
@media (max-width: 1200px) {
  #grid-show {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "image"
      "content"
      "sidebar"
      "sidebar"
    ;
    .show-slide-image {
      width: 50rem;
      img {
        height: 50vw;
      }
    }
  }
  
}
