header {
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  display: flex;
  padding: .8rem;
  align-items: center;
}

.header-logo {
  flex: 1;
  font-family: 'Balsamiq Sans', cursive;
  .site-logo {
    font-size: 2.3rem;
    justify-content: flex-start;
    margin-left: 1.5rem;
  }
}

.header-item {
  text-align: center;
  margin: 0 1rem;
  p {
    font-size: .8rem;
    margin-top: .2rem;
    font-weight: bold;
    color: #505050;
  }
}

.header-nav {
  flex: 5;
  display: flex;
  justify-content: flex-end;
  .header-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 .5rem;
    li {
      margin: 0 1rem;
      font-size: .9rem;
    }
  }
}

// btn 
.login-btn {
  padding: 1rem;
  border-radius: 5px;
  &:hover {
    background-color: #fcf2f2; 
    transition: .5s; 
  }
}

.signup-btn {
  background-color: #ed8f8f;
  padding: .8rem 1.2rem;
  border-radius: 5px;
  color: #fff !important;
  letter-spacing: 1px;
  font-weight: bold;
  &:hover {
    opacity: .7;
    transition: .5s;
  }
}

@media (max-width: 670px) {
  header{
    padding: .5rem;
    margin: .8rem .5rem;
  }
  .header-logo {
    .site-logo {
      font-size: 1.7rem;
    }
  }
  .header-nav {
    .header-list {
      margin: 0;
      li {
        font-size: .8rem;
      }
    }
  }
  .login-btn {
    padding: .5rem;
    border-radius: 5px;
  }
  .signup-btn {
    padding: 10px 10px;
    border-radius: 5px;
  }

  .header-item {
    text-align: center;
    margin-right: .2rem;
    span {
      font-size: 1rem;
    }
    p {
      font-size: .3rem;
      margin-top: .2rem;
      font-weight: bold;
      color: #505050;
    }
  }
  // .header-nav {
  //   justify-content: center;
  //   position: absolute;
  //   flex-direction: column;-
  //   background-color: #ddd;
  //   right: 0;
  //   width: 70%;
  //   min-height: 100vh;
  //   height: 100vh;
  //   .header-list {
  //     display: flex;
  //     justify-content: flex-end;
  //     align-items: center;
  //     flex-direction: column;
  //     margin: .5rem;
  //   }
  // }
  // .signup-btn {
  //   background-color: transparent;
  //   color: #555 !important;
  //   letter-spacing: 0;
  //   font-weight: normal;
  // }

  // .hamburger {
  //   display: block;
  // }
}