<%= stylesheet_pack_tag 'hello_vue' %>
<%= javascript_pack_tag 'hello_vue' %>
<%= javascript_pack_tag 'practice_vue' %>

<%# vue.jsの練習ページ %>
<div id="app13"></div>

<template id="slidemenu">
  <div class="menu">
        <div :class="['menu__burger', {'menu__burger--open': this.open}]" @click="toggleNav">
            <span class="menu__burger__span"></span>
        </div>
        <nav :class="['menu__nav', {'menu__nav--open': this.open}]">
            <ul class="menu__list">
                <li class="menu__list__item">
                    <a href="#" class="menu__link">Link</a>
                </li>
                <li class="menu__list__item">
                    <a href="#" class="menu__link">Link</a>
                </li>
            </ul>
        </nav>    
    </div>
</template>





<div id='hello'>
  {{ message }}
  <app></app>
</div>

<div id="app5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage" class="btn btn-info mt-1">逆読み</button>
</div>

<div id="app6">
  <todo-item 
    v-for="item in groceryList"
    v-bind:todo="item"
    v-bind:key="item.id" >
  </todo-item>
</div>

<todo-item></todo-item>

<div id="example">
</div>

<div id="anime1">
  <button class="btn btn-info" v-on:click="show=!show">切り替え</button>
  <transition>
    <p v-if="show">この文字は消えるかな？</p>
  </transition>
</div>

<div id="app10">{{ store.count }}</div>

<div id="app11">
  {{ message.value }}
  {{ message.value.length }}
  <p>{{ list }}</p>
  <p>{{ list.length }}</p>
  <p>{{ list[num] }}</p>
</div>

<div id="app12">
  <p>{{ count }}回クリックしたぜ！</p>
  <button class="btn btn-info" v-on:click="click_count">カウントを増やす</button>
</div>

<div id="app14">
  <p v-bind:class="{ child: isChild, 'is-active': isActive }">Text</p>
  <p v-bind:style="{ color: textColor, backgroundColor: bgColor }">Text</p>
</div>

<div id="app15">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <circle cx="100" cy="75" v-bind:r="radius" fill="lightpink" />
  </svg>
  <input type="range" min="0" max="100" v-model="radius">
</div>

<div id="app16">
  <div v-if="ok">v-if条件により出ている</div>
  <div v-show="ok">v-show条件により出ている</div>
</div>

<div id="app17">
  <ul>
    <li v-for="(item, key, index) in list" v-bind:key="item.id">
      ID.{{ item.id }} {{ item.name }} {{ item.hp }}
    </li>
  </ul>
</div>

<div id="app18"> <%# ルート el %>
  <h1 ref="hello">$el, $refs</h1> <%# ルート以外の要素 refs %>
</div>

<div id="app19">
  <button v-on:click="handleClick">カウントアップ</button>
  <button v-on:click="show=!show">表示・非表示</button>
  <span ref="count" v-if="show">0</span>
</div>

<div id="app20" v-cloak>
  {{ message }}
</div>

<div id="app21">
  <button class="btn btn-info" v-on:click="handleClick">クリック</button>
</div>

<div id="app22">
  <img src="shopping.png" v-on:load="show=true" v-bind:class="{hide: !show}" alt="image" width="300" height="200">
</div>

<div id="app23">
  <input v-bind:value="message" v-on:input="handleInput">
</div>

<div id="app24">
  <div v-on:click.right="handler">右クリックしてね</div>
  <div v-on:click.right.prevent="handler">これが出るのかな？</div>
</div>

<app26></app26>
<hello-temp></hello-temp>
