<%= stylesheet_pack_tag 'hello_vue' %>
<%= javascript_pack_tag 'hello_vue' %>
<%= javascript_pack_tag 'practice_vue' %>

<%# vue.jsの練習ページ %>
<div id='hello'>
  {{ message }}
  <app></app>
</div>

<div id='practice'>
  {{ message }}
</div>


