<%= javascript_pack_tag 'hello_vue' %>  
<%= javascript_pack_tag 'custom_vue' %>  
<!-- トップページ -->
<div class="top_wrapper">
  <div class="top_container">
    <h1>Saizyへようこそ！</h1>
    <p>Hello jQuery</p>
  </div>
   <div id='hello'>
    <p>{{message}}</p>
  </div>
   <div id='hello2'>
    <p>{{message}}</p>
  </div>
</div>