ここにメインコンテンツが入ります。
<div class="container">
  <div class="jumbotron m-3">
    <h1 class="display-4">ようそこSaizyへ！</h1>
    <hr class="my-4">
    <p>みんなの投稿で近所の催事ショップを盛り上げよう！</p>
    <button type="button" class="mt-3 btn btn-primary btn-lg">
      <i class="far fa-window-maximize"></i>
      <%= link_to '無料アカウント作成', signup_path, class: "text-white" %>
    </button>
    <button type="button" class="ml-5 mt-3 btn btn-primary btn-lg">
      <i class="far fa-window-maximize"></i>
      <%= link_to 'ログイン', login_path, class: "text-white" %>
    </button>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Hello!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>