<!-- トップページ -->
<div class="top_wrapper">
  <div class="top_container">
    <h1>Saizyへようこそ！</h1>
    <p>期間限定催事をみんなで盛り上げよう！</p>
  </div>
</div>

<div class="login_button login_show">ログイン</div>
<!-- login_modal -->
<div class="login_modal_wrapper" id="login_modal">
  <div class="modal">
    <div class="close_modal">
      <i class="fas fa-times"></i>
    </div>
    <div class="l_form_box">
    <h2>ログイン</h2>
    
  </div>
</div>