// header-index
.indexHeader {
  background-image: url("../images/top-image.jpeg");
  background-size: cover;
  height: 400px;
  background-position: 0% 0%;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: center;
}
.indexHeader_inner {
  width: 70%;
  margin: 10px auto;
  background: #fff;
  padding: 50px;
  border-radius: 5px;
}
.indexHeader_inner h1{
  font-size: 30px;
  font-weight: bold;
  
}
.indexHeader_inner p{
  font-size: 17px;
  margin-top: 20px;
}

// button
.top-btn{
  padding: 8px 25px;
  display: inline-block;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  margin-top: 25px;
  font-size: 22px;
  padding: 20px 30px;
}

.signup {
  background: #58cc02;
  margin-right: 20px;
}
.login {
  background: #ff7e5f;
}


// slick-slider 

// first-slider 
.site-slider img {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

.site-slider {
  position: relative;
}

.position-top {
  position: absolute;
  top: 50%;
}

.site-slider .slider-btn .prev,
.site-slider .slider-btn .next {
  background-color: #fe8769;
  padding: 1rem 1rem;
  border-radius: 100%;
  color: #fff;
  margin: 0 1rem;
  opacity: 0;
  transition: opacity 1s ease;
  cursor: pointer;
}

.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next {
  opacity: 1;
}

.right-0 {
  right: 0;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  right: 50%;
}

.slick-dots li {
  margin: 0 0.6rem;
}

.slick-dots button {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  padding: 0;
  border: none;
  background-color: #fff;
  text-indent: -99999px;
  border-radius: 100%;
}
.slick-dots li.slick-active button {
  transform: scale(2.5);
  box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.205);
}

// second-slider
.slider-two img {
  width: 60%;
  height: 15vw;
  object-fit: cover;
}

.site-slider-two {
  position: relative;
  height: 30%;
}

.site-slider-two .product {
  height: 15rem;
  position: relative;
  overflow: hidden;
}

.site-slider-two .product img {
  width: 100%;
  margin: auto;
}

.site-btn.btn-span {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4rem;
  background-color: #fff;
  color: #555;
}

.slider-two .slick-track .product:hover span {
  background-color: #e4e4e4;
}

// facility area
.container .facility {
  padding: 1rem 0;
}
.container .facility h2 {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1.7px;
}
.container .facility p {
  padding: 10px 0;
  font-size: 0.9em;
}

// third slider
.site-slider-three {
  position: relative;
  margin-bottom: 5rem;
}

.site-slider-three .product {
  height: 100%;
  padding: 0;
}

.site-slider-three .cart-details {
  margin-top: 0.5rem;
  padding: 0.2rem;
}

.rating i {
  font-size: 0.7rem;
  color: lightblue;
}

.site-slider-three .pro-price span {
  color: #555;
}

.pro-title pro-title site-btn:hoveer {
  background: #fe8769;
  color: #fff;
}

.slider-three img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  border-radius: 5px;
}


// grid zone
.grid-img {
  width: 100%;
  height: 6vw;
}