// 共通レイアウト
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

section {
  position: relative;
  width: 100%;
  display: flex;
  flex: 1;
}


.container{
  max-width: 120rem;
  margin: 0 auto;
}
.container-md {
  max-width: 100rem;
  margin: 0 auto;
}

// ヘッダー
.l_header {
  position: relative;
  max-width: 100%;
  padding: 10px;
  background: #ff7e5f;
  box-sizing: border-box;
}
.l_header_logo {
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 34px;
  padding: 0 20px;
  text-align: center;
  font-weight: 600;
  box-sizing: border-box;
  float: left;
  text-decoration: none;
}

.l_header_logo a {
  text-decoration: none;
  color: #fff;
}

.l_header_logo a:hover {
  text-decoration: none;
  color: #fff;
}

.l_header_nav {
  float: right;
}

.clearfix {
  clear: both;
}

.l_header_nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.l_header_nav ul li a {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.l_header_nav ul li a:hover {
  background: #18baad;
  color: #fff;
  transition: 0.5s;
}


// フッター
.l-footer {
  background-color: #ff7e5f;
  color: #fff;
}
.l-footer a {
  color: white;
}
.l-footer a:hover {
  opacity: 0.6;
}
.l-footer-title {
  font-size: 18px;
  font-weight: bold;
}
.l-footer-list li {
  margin-bottom: 13px;
}



// デバッグ
.debug {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0 auot;
  width: 100%;
  padding: 20px;
  background: #00c4cc;
  margin-top: 30px;
  flex-flow: column;
}

