.follow {
  width: 85%;
  margin: 0 auto;
  max-width: 1000px;
  .follow-title {
    width: 100%;
    margin-bottom: 1rem;
    h1 {
      font-size: 1.5rem;
    }
  }
  .follow-user {
    width: 100%;
    display: flex;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    .follow-img-area {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid #e96161;
      text-align: center;
      font-size: 2rem;
      margin-right: 1rem;
      color: #777;
    }
    .follow-content {
      width: auto;
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 1.5rem;
      }
      .profile {
        font-size: 1rem;
      } 
    }
  }
}