.follow {
  width: 85%;
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "follow";
    // follow area
  .follow-area {
    grid-area: follow;
    .follow-title {
      width: 100%;
      margin-bottom: 1rem;
      h1 {
        font-size: 1.5rem;
      }
    }
    .follow-user {
      width: 100%;
      display: flex;
      background-color: #fff;
      padding: 1rem;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      border-radius: 5px;
      margin-bottom: 1rem;
      .follow-img-area {
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 2rem;
        margin-right: 1rem;
        color: #777;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
          border-radius: 50%;
          border: 2px solid #e96161;
        }
      }
      .follow-content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .follow-user-content {
          h1 {
            font-size: 1rem;
          }
          .profile {
            font-size: .9rem;
          } 

        }
        .profile-follow-btn {

        }
  }
    }
  }
}