.container{
  max-width: 120rem;
  margin: 0 auto;
}
.container-md {
  max-width: 100rem;
  margin: 0 auto;
}

// header
.l-header{
  background-color: #f8f8f8;
}
.site-logo{
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'Balsamiq Sans', cursive;
  color: #555;
  display: inline-block;
  line-height: px;
  text-align: center;
  margin: 0;
}
.container .dropdown-toggle,
.container .dropdown-item{
  font-size: 0.9em;
}
.header-links {
  line-height: normal;
}

.header-links a{
  font-size: 0.9em;
}

// second-header
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
  .menu-item {
    padding: 20px 20px;
    position: relative;
    text-align: center;
    border-bottom: 3px solid transparent;
    display: flex;

    .active,
    :hover {
      color: #333;
      opacity: 0.7;
      border-bottom-color: #3b3b3b;
    }
  }
} 

// フッター
.copy-right {
  padding: 20px 20px 30px 20px;
  background-color: #f8f8f8;
}
strong {
  font-weight: bold;
  font-size: 22px;
}

@media (max-width: 550px) {
  .menu-item {
    font-size: 14px;
  }
}
