.container{
  max-width: 120rem;
  width: 100%;
}
.container-md {
  max-width: 100rem;
}

// header

// second-header
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: #f8f8f8;
  .menu-item {
    padding: 20px 20px;
    position: relative;
    text-align: center;
    border-bottom: 3px solid transparent;
    display: flex;

    .active,
    :hover {
      color: #333;
      opacity: 0.7;
      border-bottom-color: #3b3b3b;
    }
  }
} 

// フッター
.copy-right {
  padding: 20px 20px 30px 20px;
  background-color: #f8f8f8;
}
strong {
  font-weight: bold;
  font-size: 22px;
}

@media (max-width: 670px) {
  header {
    width: 100%;
  }

  // フッター
  .menu-item {
    font-size: .7rem;
  }
  .copy-right {
    padding: 1rem;
    p {
      font-size: 0.5rem;
    }
    .l-footer-logo {
      font-size: .7rem;
    }
  }
    
}
