// saizies show

.show-area {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .show-title {
    margin: 2rem 0 1rem 0;
    h3 {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  .show-box {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    .show-image-area {
      flex: 1;
      background-color: #ccc;
      width: 100%;
      height: 100%;
      img {
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .show-content-area {
      flex: 1;
      background-color: #ddd;
      height: 100%;
      .main-text {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}



