// saizies show

.show-area {
  display: grid;
  grid-template-columns: auto 25rem;
  grid-template-areas: 
    "post side";
  width: 85%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9f9f9;
  .show-main  {
    width: 100%;
    grid-area: post;
    .show-title {
      margin: 2rem 0 1rem 0;
      h3 {
        font-size: 2rem;
        font-weight: bold;
      }
    }
    .show-box {
      width: 100%;
      .show-image-area {
        width: 100%;
        height: 100%;
        img {
          display: inline-block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
  
      }
      .show-content-area {
        height: 100%;
        padding: 1rem;
        align-items: center;
        .show-content-box {
          border: 3px solid #ed8f8f;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          height: 100%;
          border-radius: 10px;
          padding: 1rem;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: column;
          .main-text {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-bottom: .8rem;
            border-bottom: 1px solid #ccc;
            .main-text-title {
              flex: 1;
              font-size: 1.3rem;
              font-weight: bold;
              margin-left: 2rem;
            }
            .main-text-dsc {
              flex: 2;
            }
          }
          .user-post-box {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .profile-img {
              img {
              width: 80px;
              max-width: 80px;
              height: 80px;
              max-height: 130px;
              border-radius: 50%;
              object-fit: cover;
              border: 3.5px solid #e9e9e9;
              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
              }
            }
            .user-post-name {
              padding: 1rem;
            }
          }
        }
      }
    }


  }
}

// swiper 
.swiper-container {
  width: 100%;
  
  //スライダー
  &.show-slider {
    height: 50vh;
  }
  
  //サムネイル
  &.slider-thumbnail {
    height: 15vh;
    
    .swiper-wrapper {
        
        .swiper-slide {
            width: 25%;
            height: 100%;
            opacity: .5;
            overflow: hidden;


            &.swiper-slide-thumb-active {
                opacity: 1;
            }
        }
    }
  }
}

// サイドバー
.aside {
  width: 100%;
  background-color: #ccc;
  grid-area: side;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  // content
  .aside-content {   
    width: 100%;
    height: 140px;
    display: flex; 
    img {
      object-fit: cover;
      width: 100%;
      height: 100%; 
    }
  }
    .aside-dsc {
    }
  }


