#grid-show {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
  "image sidebar"
  "content sidebar";
  grid-gap: 1rem;
  width: 90%;
  margin: auto;
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: .6rem;
  }
}
#left-image {
  background-color: #a7ffeb;
  grid-area: image;
  .title {
    h3 {
      font-size: 1.5rem;
      text-align: center;
      margin-top: 1.5rem;
    }
    
  }
}

// 詳細本文
#left-content {
  grid-area: content;
  .main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .main-text {
      display: flex;
      border-bottom: 1px solid #ccc;
      align-items: center;
      margin: 1rem;

      dt {
        width: 10rem;
        font-size: 1rem;
        font-weight: bold;
      }
      dd {
        text-align: center;
        height: auto;
      }
    }
  }
  .main-text-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .edit-btn {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    .edit-button {
      background-color: #eb6100;
      padding: 1rem;
      border-radius: 5px;
      a {
        color: #fff !important;
        letter-spacing: 2px;
        font-size: 1rem;
      }
    }
  }
}


// 右側のサイドバー
#sidebar {
  width: 100%;
  background-color: #ccc;
  grid-area: sidebar;
}
.sidebar2 {
  grid-area: sidebar;
}
.side-t {
  text-align: center;
  padding: 1rem;
}

.side-card {
  // card
  display: grid;
  background-color: #a7ffeb;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  border: 1px solid red;
  .side-card-flex {
    display: flex;

  }
}

.show-slide-image {
  width: 40rem;
  margin: 0 auto;
  padding: 1rem;
  img {
    width: 100%;
    height: 30vw;
    object-fit: cover;
  }
 

}



// responsive
@media (max-width: 550px) {
  body {
    width: 100%;
  }
  .show-slide-image {
    margin: 0 auto;
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }
  .title {
    h3 {
      font-size: 1.5rem;
      padding: 1rem;
      text-align: center;
      line-height: 40px;
    }
  }
  .side-title{
    h3 {
      font-size: 1.5rem;
      padding: 1rem;
      text-align: center;
      font-weight: bold;
    }
  }
  #grid-show {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "image"
      "content"
      "sidebar"
      "sidebar"
    ;
  }
}
@media (max-width: 1000px) {
  #grid-show {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "image"
      "content"
      "sidebar"
      "sidebar"
    ;
    .show-slide-image {
      img {
        width: 100%;
        height: 50vw;
      }
    }
  }
  
}
