.review-form {
  padding: 1rem 2rem;
  h1 {
    font-size: 1.2rem;
    align-items: center;
  }
  #star {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    .evaluation {
      margin-right: 1rem;
    }
  }
  .review-content {
    width: 100%;
    .review-title {
      width: 100%;
      padding: .5rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 1rem;
    }
    .review-text {
      width: 100%;
      padding: .5rem;
      border: 1px solid #ccc;
      height: 100px;
      border-radius: 5px;
    }
    .review-btn {
      margin: 1rem auto;
      width: 15rem;
      padding: .5rem;
      font-size: 1.1rem;
      letter-spacing: 2px;
      background-color: #ed8f8f;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-weight: bold;
      &:hover {
        opacity: .7;
        transition: .5s;
      }
    }
  }
}

.review-list {
  padding: 1rem 2rem;
  .review-top {
    display: flex;
    align-items: center;
    h1 {
      font-size: 1.2rem;
      .review-icon {
        margin-right: 1rem;
      }
    }
    .average-star {
      margin-left: 5rem;
      display: flex;
      align-items: center;
      h1 {
        margin-right: 1rem;
      }
    }
  }
}
.review-list-content {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  background-color: #fffffff2;
  .review-list-title {
    border-bottom: dotted 2px #ccc;
    font-weight: bold;
    font-size: 1.1rem;
  }
  .review-list-comment {
    margin-top: .3rem;
    font-size: .9rem;
  }
}
.review-list-down {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
  .review-user-img {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #ed8f8f;
    }
    .review-default-user {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid #ed8f8f;
      overflow: hidden;
    }
  }
  .review-rate {
    margin-right: 1rem;
    img {
      width: 22px;
      height: 22px;
    }
  }
  .review-list-create {
    font-size: .7rem;
  }
}
.review-list-more {
  margin-top: 1rem;
  text-align: right;
  font-size: 1.1rem;
  .more-icon {
    margin-right: .5rem;
    color: #ed8f8f;
  }
}

// index 
.review-index {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  h1 {
    font-size: 1.9rem;
    font-weight: bold;
    margin-bottom: .5rem;
  }
  .show-back-button {
    background-color: #ed8f8f;
    width: 10rem;
    text-align: center;
    padding: .5rem;
    border-radius: 5px;
    margin-bottom: .5rem;
    .back-button-text {
      color: #fff !important;
      font-weight: bold;
      letter-spacing: 1.3px;
    }
  }
  .review-top-flex {
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
.review-area {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 400px 1fr;
  grid-template-areas: 
    "show side";
  .review-left {
    width: 390px;
    grid-area: show;
    .show-image-area {
      width: 100%;
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  }
  .review-list-area {
    width: 100%;
    grid-area: side;
  }
}

// responsive tab
@media only screen and (max-width: 1200px) {
  .review-area {
    width: 95%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "side"
    "show";
  }
}

// responsive 
@media only screen and (max-width: 670px) {
  .review-area {
    width: 95%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "side"
    "show";
  }
  .review-left {
    width: 100%;
  }
  .review-top-flex {
    width: 100%;
    display: block;
  } 
  .review-left {
    width: 95%;
    
  }
}