.review-area {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  .main-rating {
    width: 100%;
    .ratings {
      #star-icon {
        display: flex;
        align-items: center;
        padding: 1rem 0;
        .ratings-text {
          font-size: 1.2rem;
          margin-right: 1.5rem;
        }
      }
    }
  }
  .rating-content {
    width: 100%;
    margin: 1rem 0;
    .textarea {
      width: 100%;
      padding: .6rem;
      border: 2px solid #e5e5e5;
      border-radius: 5px;
      margin-bottom: 1rem;
    }
    .review-button-area {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .review-btn {
        background-color: #ed8f8f;
        border: none;
        padding: .5rem 2rem;
        color: #fff;
        border-radius: 5px;
        margin-right: 1.2rem;
        box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
        font-weight: bold;
      }
      .other-review-btn {
        border: 2px solid #ed8f8f;
        background-color: #fff;
        padding: .5rem 2rem;
        color: #ed8f8f !important;
        border-radius: 5px;
        box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
        font-weight: bold;
      }
    }
  }
}
