// user show
.user-show {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 
    "profile post";
  min-height: 100vh;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.profile {
  grid-area: profile;
  background-color: #e6988b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: #fff;
  height: auto;
  .profile-img {
    img {
      width: 130px;
      max-width: 130px;
      height: 130px;
      max-height: 130px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #ff8974;
      margin-bottom: 1rem;
    }
  }
  .profile-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    .profile-name {
      h3 {
        font-size: 1.3rem;
        margin-bottom: 1rem;
      }
    }
    .profile-follow {
      width: 100%;
      .status {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        #following {
          p {
            color: #fff;
          }
        }
        #followers {
          p {
            color: #fff;
          }
        }
      }
    }
    .user-email {
      margin: 1rem;
      word-wrap: break-all;
      padding: 1rem;
    }
    .edit-btn {
      margin-top: 1rem;
      background-color: #fff;
      padding: .5rem 1rem;
      border: 2px solid #d57261;
      border-radius: 5px;
      a {
        color: #e6988b !important;
      }
    }
  }
}

.default-img {
  border-radius: 50%;
  background-color: #fff;
  padding: 1.5rem;
  .default-user {
    font-size: 5rem;
    color: #e6988b;
  }
}

.user-post {
  grid-area: post;
  margin: 1rem;
  padding: 1rem;
  background-color: #f7f7f7;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 5px;
  .user-post-title {
    margin-bottom: 1rem;
    h1 {
      font-size: 1.5rem;
      margin-bottom: .4rem;
      font-weight: bold;
    }
  }
}

// tab
#tabBox {
  padding: 1rem;
  #tabs {
    display: flex;
    margin: 1rem 0;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #e6988b;
    input {
      display: none;
    }
    label {
      cursor: pointer;
      display: inline-block;
      padding: .5rem;
      margin: 0 1rem;
      font-size: 1rem;
      font-weight: bold;
      color: #fff;
      background-color: #e6988b;
      letter-spacing: 1px;
      border-radius: 5px 5px 0 0 ;
    }
  }
  .contents-area {
  padding: 1rem;
  h2 {
    font-size: 1.5rem;
  }
  }
}

// responsive 
@media only screen and (max-width: 670px) {
  .user-show {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 400px auto; 
    grid-template-areas: 
      "profile"
      "post";
      .profile {
        width: 100%;
        height: 100%;
        padding: .5rem;
        .profile-img {
          img {
            width: 100px;
            height: 100px;
          }
        }
      }
  }
}