// user show
#user-show {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 2fr;
  width: 80%;
  margin: 0 auto;
  grid-template-areas: 
    "profile post"
    "follow post";
  grid-gap: 1rem;

  .profile {
    background-color: #f9fbfe;
    grid-area: profile;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: 1px 3px 3px rgba(0,0,0,.3);
    .profile-img{
      margin: 5rem 1rem 1rem 1rem;

      img {
        border-radius: 50%;
      }
    }
    .user-name {
      font-size: 1.5rem;
      color: #ff5722;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    .user-email {
      margin-bottom: 1rem;
    }
    .edit-btn {
      background-color: #ff5722;
      border-radius: 5px;
    
      p {
        padding: 1rem;
        a {
          color: #fff !important;
          font-weight: bold;
        }
      }
    }
  }
  
  // post list
  .post {
    grid-area: post;
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 1rem;
    background-color: #f9fbfe;
    box-shadow: 1px 3px 3px rgba(0,0,0,.3);
    .tab {
      border-bottom: 2px solid #ddd;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .tab li {
      color: #888;
      font-weight: bold;
      margin: 1rem 2rem 0rem 2rem;
      padding: .5rem 1rem;
      cursor: pointer;
      list-style: none;
      transition: .3s;
    }
    .tab li.active {
      color: #fff;
      background: #ff5722;
      border-radius: 5px;
      cursor: auto;
    }
     
    .area ul {
      display: none;
    }
    .area ul.show {
      display: block;
    }

    // post content
    
  }
}
