// user show

#user-show {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 2fr;
  width: 80%;
  margin: 0 auto;
  grid-template-areas: 
    "profile post"
    "follow post";
  grid-gap: 1rem;

  .profile {
    background-color: #f9fbfe;
    grid-area: profile;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 3px 3px rgba(0,0,0,.3);
    .profile-img{
      margin: 1rem;
      img {
        border-radius: 50%;
      }
    }
    .user-name {
      font-size: 1.5rem;
      color: #ff5722;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    .user-email {
      margin-bottom: 1rem;
    }
    .edit-btn {
      background-color: #fc7045;
      border-radius: 5px;
    
      p {
        padding: 1rem;
        a {
          color: #fff !important;
          font-weight: bold;
        }
      }
    }
  }
  .post {
    grid-area: post;
    background-color: #ccc;
  }
}