// slick共通

// show(user)

// show(saizies)
.slick-prev:before,
.slick-next:before {
    color: #555;
    cursor: pointer;
    font-size: 40px;
    display: block;
}

.slick-prev {
  left: 22px;
  z-index: 10;
  [dir="rtl"] & {
      left: auto;
      right: -25px;
  }
}
.slick-next {
  right: 30px;
  [dir="rtl"] & {
      left: -25px;
      right: auto;
  }
}