@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

// top 
.hero {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-image: url('../images/top-image-sweets-blar.png');
  background-size: cover;
  .hero-content {
    padding: 2rem;
    text-align: center;
    border: 2px solid #e96161;
    border-radius: 3px;
    background-color: #fff7f7;
    background-size: cover;
    margin: 3rem;
    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: .6rem;
      font-family: 'Balsamiq Sans', cursive;
    }
    h4 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: .6rem;
      color: #111;
    }
    p {
      font-size: 1rem;
      margin-bottom: 1rem;
      letter-spacing: 1px;
    }
    .text-main {
      color: #fa7c92;
    }
  }
  .hero-image {
    display: none;
    .hero-image img {
      width: 100%;
      height: auto;
    }
  }
  
  .hero-action-btn a {
    padding: .5rem 1.4rem;
    border-radius: 25px;
    display: inline-block;
    &:last-child {
      margin-left: 1rem;
      font-weight: bold;
    }
  }
  
  .btn-main {
    background-color: #fa7c92 !important;
    color: #fff !important;
    border: 1px solid #fa7c92 !important;
  }
  .btn-main-outline {
    background-color: transparent;
    color: #fa7c92 !important;
    border: 1px solid #fa7c92 !important;
  }
}

.new-post {
  padding: 1.5rem 0rem;
  .section-info {
    text-align: center;
    padding: 0rem 2rem;
    margin: 1rem 0;
    h2 {
      margin-bottom: .5rem;
      color: #555;
      font-size: 25px;
      font-weight: bold;
    }
    p {
      color: #505050;
      line-height: 1.5rem;
    };
  }
}

// 投稿のカード
.post-grid > .post {
}
.post-grid {
  align-items: center;
  grid-gap: 1.5rem 1.3rem;
}
.post-img {
  position: relative;
  img{
    width: 300px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-bottom: .5rem;
  }
  .day {
    position: absolute;
    span {
      background-color: #e96161;
      color: #fff;
      font-weight: bold;
      font-size: 0.8rem;
      padding: .4rem;
    }
  }
}
.post-desc {
  h3 {
    font-size: 1.5rem;
    margin-bottom: .4rem;
    font-weight: bold;
  }
  p {
    font-size: 1rem;
    margin-bottom: .4rem;
  }
}

.is-mobile-menu {
  padding: 1.5rem;
  .mobile-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: .7rem 0rem;
    z-index: 10;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    .menu-item {
      text-align: center;
      p {
        font-size: .8rem;
        margin-top: .2rem;
        font-weight: bold;
        color: #505050;
      }
    }
  }
}
