@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

// top 
.hero {
  background-image: url('../images/top-image-sweets-blar.png');
  background-size: cover;
  .hero-content {
    padding: 2rem 4rem;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #eee;
    border-radius: 3px;
    background-color: #fff7f7;
    background-size: cover;
    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: .6rem;
      font-family: 'Balsamiq Sans', cursive;
    }
    h4 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: .6rem;
      color: #111;
    }
    p {
      font-size: 1rem;
      margin-bottom: 1rem;
      letter-spacing: 1px;
    }
    .text-main {
      color: #e96161;
      font-size: 2.5rem;
    }
  }
  .hero-image {
    display: none;
    .hero-image img {
      width: 100%;
      height: auto;
    }
  }
  
  .hero-action-btn a {
    padding: .5rem 1.4rem;
    border-radius: 5px;
    display: inline-block;
    &:last-child {
      margin-left: 1rem;
      font-weight: bold;
    }
  }
  
  .btn-main {
    background-color: #e96161 !important;
    color: #fff !important;
    border: 1px solid #e96161 !important;
    font-size: 1rem;
    &:hover {
      opacity: 0.7;
    }
  }
  .btn-main-outline {
    background-color: transparent;
    color: #e96161 !important;
    border: 1px solid #e96161 !important;
  }
}

.new-post {
  padding: 1.5rem 0rem;
  .section-info {
    padding: 1rem 2rem;
    h2 {
      margin-bottom: .5rem;
      font-size: 25px;
    }
  }
}

// 投稿のカード

.post-grid {
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.post {
  height: 25rem;
  background-color: #f9fbfe;
}
.post-img {
  position: relative;
  img{
    width: 300px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-bottom: .5rem;
  }
}
.day {
  position: absolute;
  span {
    background-color: #e96161;
    color: #fff;
    font-weight: bold;
    font-size: 0.8rem;
    padding: .4rem;
  }
}
.post-desc {
  h3 {
    font-size: 1.2rem;
    padding: .4rem;
    margin-bottom: .4rem;
    font-weight: bold;
  }
  p {
    padding-left: .4rem;
    font-size: 1rem;
    margin-bottom: .4rem;
  }
}
// slick
.slick-list {
  height: 17rem;
}

.swiper-slide {
  img {
    width: 97%;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
  }
}


.is-mobile-menu {
  padding: 1.5rem;
  .mobile-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: .7rem 0rem;
    z-index: 10;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    .menu-item {
      text-align: center;
      p {
        font-size: .8rem;
        margin-top: .2rem;
        font-weight: bold;
        color: #505050;
      }
    }
  }
}

// prefectures
.area {
  width: 100%;
  padding: 1rem;
  align-items: center;
  h2 {
    margin-top: 1rem;
    padding-left: 1rem;
    font-size: 1.5rem;
  }
  .area-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    .area-item {
      width: 250px;
      margin: 1rem 1rem 1rem 0;
      height: 250px;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
      border-radius: 5px;
      &:hover {
        opacity: .8;
        transition: .5s;
      }
      img {
        width: 100%;
        height: 190px;
        object-fit: cover;
      }
      p {
        font-weight: bold;
        margin: 1rem;
        &:hover {
          color: #e96161;
          transition: .5s;
        }
      }
    }
  }
}


// responsive 
@media(max-width: 670px) {
  .hero {
    .hero-content {
      height: 350px;
      padding: 1rem;
      h2 {
        width: 100%;
        font-size: 1.5rem;
        font-weight: bold;
      }
      h4 {
        font-size: 1rem;
      }
      p {
        font-size: .8rem;
      }
    }
  }
}


// after login
.top-page {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 340px;
  grid-template-rows: 200px 200px 400px  1fr 400px;
  width: 90%;
  max-width: 1000px;
  margin: 1rem auto;
  gap: 2rem;
  grid-template-areas: 
    "left1 right"
    "left4 right"
    "left2 right"
    "left3 right"
    "left5 right";
  padding: 1rem;
  .top-first {
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    padding: 1rem 2rem;
    grid-area: left1;
    border-radius: 5px;
    h1 {
      font-size: 1.5rem;
    }
  }
  .top-secound {
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 5px;
    grid-area: left2;
  }
  .top-archive {
    background-color: #fff;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 5px;
    grid-area: left5;
  }
  .top-tag {
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    padding: 1rem 2rem;
    grid-area: left4;
    border-radius: 5px;
    overflow: scroll;
    h1 {
      font-size: 1.5rem;
    }
    .tag-item {
      display: flex;

    }
  }
  .top-third {
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 5px;
    grid-area: left3;
  }
  // トップ右サイドバー
  .like-area {
    grid-area: right;
    margin-left: 1rem;
    .side-like {
      width: 100%;
      padding: 1rem;
      .side-like-title {
        h2 {
          font-size: 1.5rem;
        }
      }
      .side-like {
        width: 100%;
        padding: 1rem 0;
        display: flex;
        align-items: center;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
        .side-like-content {
          width: 100%;
          flex: 1;
          margin-left: 1.1rem;
          .side-like-title {
            width: 100%;
            font-size: 1rem;
            font-weight: bold;
            color: #767676;
          }
          .side-like-place {
            font-size: .8rem;
            width: 100%;
            color: #8e8e8e;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .heart-icon {
              margin: 0 1rem;
              display: flex;
              justify-content: flex-end;
              .heart-show-icon {
                color: #e96161;
              }
            }
          }
        }
      }
    }
  }
  .top-icon {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 670px) {
  .top-page {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 380px 380px 1fr;
    grid-template-areas: 
    "left1"
    "left4"
    "left2"
    "left3"
    "left5"
    "right";
  }
  .top-third {
    .area {
      padding: 0;
      h2 {
        margin: 1rem 0;
      }
      .area-card {
        width: 100%;
        .area-item {
          p {
            width: 100%;
          }
        }
      }
    }

  }
}

.tag-item {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  flex-wrap: wrap;
  .tag-item-text {
    background-color: #f5e1e1;
    padding: .5rem;
    margin: .5rem;
    border-radius: 5px;
  }
}

// swiper
/* 前ページ、次ページボタン共通のスタイル */
.swiper-button-next:after, .swiper-button-prev:after {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  color: #f7f7f7;
  font-size: 2.7rem;
}
.swiper-button-next::after {
  content: "\f0a9";
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}
.swiper-button-prev::after {
  content: "\f0a8";
}