@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

// 変数
$light-gray: #2b3032a1;
$primary-color: #fe8769;
$border: #2b303228;
$text-color: #ff686b;
$gugi: "Gugi", cursive;
$sofia: "Sofia", cursive;


// 共通
.bg-primary-color{
  background-color: $primary-color !important;
}
.lightblue{
  color: lightblue;
}

// header
header{
  background-color: $primary-color;
}
.site-logo{
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'Balsamiq Sans', cursive;
  display: inline-block;
  line-height: px;
  text-align: center;
  margin: 0;
}
.container .dropdown-toggle,
.container .dropdown-item{
  font-size: 0.9em;
}
.header-links {
  line-height: normal;
}

.header-links a{
  font-size: 0.9em;
}

// second-header
.navbar-nav{
  padding: 0.8rem 0rem;
}
.navbar-nav .nav-link{
  font-size: 0.9rem;
  color: $light-gray !important;
}
.navbar-nav .nav-item .nav-link{
  padding: 0 1.3rem;
}
.like-icon{
  margin-right: 2.5rem !important;
}

// image
.thumbnail{
  display: inline-block;
  width: 100%;
  height: 450px; 
}
.thumbnail img{
  height: 100%;
}