<div class="review-area">
  <h1>みんなの口コミ</h1>
  <% @reviews.each do |review| %>
    <%= review.title %>
    <%= review.comment %>
    <%= review.user.name %>
  <% end %>

  <%= link_to '戻る', saizies_path(@saizy) %>
</div>