<!-- footer -->
<footer>
  <nav class="nav-bar">
    <div class="menu-item"><%= link_to '利用規約', "#"%></div>
    <div class="menu-item"><%= link_to 'プライバシーポリシー', "#"%></div>
    <div class="menu-item"><%= link_to 'お問い合わせ', "#"%></div>
  </nav>
    <div class="copy-right text-center">
      <p>
        &copy;2021 All rights reserved by:
        <strong class="l-footer-logo">Saizy</strong>
      </p>
    </div>
</footer>


















