<!-- footer -->
<footer>
  <div class="l-footer pt-5 pb-4">
    <div class="container text-center text-md-left">
      <div class="row text-center text-md-left">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="l-footer-title mb-4 text-center">Saizy</h5> 
          <p>Saizyはお客様に一番優しいサービスを目指しています。</p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="l-footer-title mb-4">催事をお探しですか？</h6>
          <ul class="l-footer-list">
            <li><%= link_to '催事ブランド一覧', "#" %></li>
            <li><%= link_to '催事ブランド一覧', "#" %></li>
            <li><%= link_to '催事ブランド一覧', "#" %></li>
          </ul>
            
        </div>
      </div>
    </div>
  </div>
</footer>


















