<!-- 検索フォーム -->
  <%= search_form_for @search, url: search_saizies_path do |f| %>
<div class="search">
    <!--<%= f.label :name, "ブランド検索" %>-->
      <%= f.search_field :name_cont, class: "search-input" ,placeholder: "ブランド名で検索" %>
      <%= f.submit "検索", class: "search-button" %>
</div>
  <% end %>
