<!-- 検索フォーム -->
<%= search_form_for @search, url: search_saizies_path do |f| %>
  <div class="search-area">
      <!--<%= f.label :name, "ブランド検索" %>-->
    <div class="search-box">
      <%= f.search_field :name_cont, class: "search-input" ,placeholder: "キーワードで検索" %>
      <%= f.submit "検索", class: "search-button" %>
    </div>
  </div>
<% end %>
