<nav class="nav-bar">
  <div class="menu-item"><%= link_to 'すべてのブランド', users_path %></div>
  <div class="menu-item"><%= link_to 'フード', saizy_path(current_user) %></div>
  <div class="menu-item"><%= link_to 'ファッション・コスメ', "#"%></div>
</nav>
