<nav class="nav-bar">
  <div class="menu-item"><%= link_to 'すべてのアイテム', "#"%></div>
  <div class="menu-item"><%= link_to 'フード', "#"%></div>
  <div class="menu-item"><%= link_to 'ファッション・コスメ', "#"%></div>
</nav>