<h1>React練習用ページ</h1>
<p>Find me in app/views/react/index.html.erb</p>

<%= react_component("hello_react", name: 'React') %>

<div id="counter">
  <div id="counter-count">0</div>
  <button id="counter-up">+</button>
  <button id="counter-down">-</button>
</div>